body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*------CUSTOM CSS-------*/

/* Navbar link color not active*/
.navbar-inverse .navbar-nav > li > a {
    color: #e8e8e8;
}

/* Navbar link color active*/
.navbar-inverse .navbar-nav > li > a:active {
    color: #ffffff;
}

/* Login button*/
#btnLogin{
    width: 250px;
    float: right;
    height: 50px;
    margin-right: 140px;
    margin-top: 20px;
}

/* Regsister button*/
#btnRegister{
    width: 160px;
    float: right;
}

/* Radio button*/
input[type="radio"] {
    margin: 4px 0 0;
    line-height: normal;
    margin-right: 5px;
    margin-bottom: 10px;
}

/* Login input boxes*/
#inputEmail, #inputPassword {
    width: 420px !important;
    max-width: none;
}

/* Houses table*/
#tblHouses{
    width: 100%;
    font-size: 15px;
    border: none;
    margin-left: 0px;
    table-layout: auto;
}

#tblHouses td{
    border: none;
    padding: 0 0 0 0 !important;
    margin: 0 0 0 0 !important;
    border-collapse: collapse;
    clear: both;
    width: 33.33%;
    height: 350px;
}

#tblHouses tr:first-child{
    border-collapse: collapse;
    border-top: 0px solid black;
    padding: 0 0 0 0 !important;
    margin: 0 0 0 0 !important;
    display: block;
    clear: both;
    display: flex;
}

#tblHouses tr{
    border-collapse: collapse;
    border-top: 1px solid #d5d5d5;
    padding: 30px 0 0 0 !important;
    margin: 0 0 0 0 !important;
    display: block;
    clear: both;
    display: flex;
}